<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      GasCuu
    </ion-title>
    <ion-buttons end>
      <button navPush="AddShoppingItemPage" ion-button>
        <ion-icon name='add'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

<!--<button ion-button outline full (click)= "getGeolocation()">Get the location</button>
<p>Lat:</p>{{lat}}
<p>Lng:</p>{{lng}}  -->


 <ion-item *ngFor="let item of shoppingList$|async" detail-push navPush="EditShoppingItemPage" 
 [navParams]="{item:item}">    
    <!--FILTER DATA WITH THIS not reccomended tho-->
    <div *ngIf = "item._place_id" > 
      <!--  {{item._place_id}}-->
      
      <!-- The ? is in case it does not exist, dont throw an error. -->
                  <h1>{{item._place_id}}</h1>
                 <h2>  {{item.brand}} </h2>
      <p>  |Regular: ${{item.price?.regular}} </p>
      <p>  |Premium: ${{item.price?.premium}} </p> 
    </div>
  </ion-item> 
  <!--GEOFIRE-->
  

  


  <!--
  <ion-item *ngIf="item._place_id>23000">
      <ion-item class="asd cardPardding" *ngFor="let item of shoppingList$|async">
        <p>
        {{item._place_id}}
        </p>
      </ion-item>
  </ion-item>

     -->
     
</ion-content>
